body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
}
.foot {
    color: Gray;
    text-align: right;
}
h1{
    font-size: 50px;
    font-weight: normal;
    color: white;
}
.down {
    color: aquamarine;
    font-size: 16px;
}
p {
    font-size: 21px;
    color: gray;
}
h2 {
    Font-weight: 300;
    Font-size: 42px;
}